<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.122.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Offcanvas navbar template · Bootstrap v5.3</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/offcanvas-navbar/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">


<main>
<h1>Open Vagas</h1>
<p>Mural de vagas compartilhadas pela comunidade.</p>

<form action="<%= root_path %>" method="get">
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <label for="q_name_cont">Carreira</label>
        <input type="search" name="q[name_cont]" id="q_name_cont" class="form-control">
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label for="q_contract_eq">Modalidade</label>
        <select name="q[contract_eq]" id="q_contract_eq" class="form-control">
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label for="q_state_eq">Localidade</label>
        <select name="q[state_eq]" id="q_state_eq" class="form-control">
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="col-sm">
      <button class="btn btn-danger" type="submit" style="margin-top: 31px;">Pesquisar</button>
    </div>
  </div>
</form>

<% @positions.each do |position| %>
  <%= render position %>
<% end %>

</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>